# In this config $$$ is used as the screening marker for $ (just to screen $,
# like \$ or $$), DO NOT use it for other purposes. It will be replaced by ###,
# and then by $ (automatically, by script). DO NOT use ### at all.

server {
    listen ${FRONTEND_PORT} default_server;
    listen [::]:${FRONTEND_PORT} default_server;
    server_name menu_frontend;

    location / {
        root /usr/share/nginx/html;
        index index.html;
        try_files $$$uri $$$uri/ /index.html;
    }
}

