.input {
  height: 70px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--gray);
  background-color: var(--indigo);
  color: var(--white);
  padding: 10px;
  font-size: 25px;
}

.input::placeholder {
  color: var(--gray-2);
}

.input_red_border {
  border: 1px solid #f00;
  outline: 1px solid #f00;
}
