.attach_file {
  /*Hidden*/
  position: absolute;
  z-index: -10;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.attach_file_label {
  display: flex;
  border: 1px solid var(--gray);
  border-radius: 5px;
  background-color: var(--indigo);
  font-size: 25px;
  height: 70px;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
  cursor: pointer;
  width: 100%;
  color: var(--white);
}
