.back_button {
  align-self: flex-start;

  height: 50px;
  width: 50px;
  aspect-ratio: 1/1;
  background-color: var(--indigo);
  color: var(--white);
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  padding: 7px;
}
