.tabs_toggle_wrapper,
.tabs_toggle_wrapper_fullscreen {
  position: relative;
  background-color: var(--indigo);
  height: 100px;
  width: 95%;
  overflow-x: auto;
  border-radius: 15px;
  margin-bottom: 5px;
}

.tabs_toggle_wrapper_fullscreen {
  position: absolute;
}
