.dish_availability_list_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  align-items: center;
  gap: 20px;
}

.dish_availability_list,
.dish_availability_list_fullscreen {
  justify-content: center;
  background-color: var(--indigo-2);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.dish_availability_list_fullscreen {
  margin-top: 100px;
}
