.footer {
  min-height: 60px;
  background-color: var(--indigo-2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.footer .link {
  font-family: nunito, sans-serif;
  text-decoration: none;
  color: white;
}
