[Unit]
Description=Timer for the get_updates_and_restart.service
Requires=get_updates_and_restart.service

[Timer]
Unit=get_updates_and_restart.service
OnCalendar=*-*-* 05:00:00
AccuracySec=10minutes

