[Unit]
Description=Timer for the menu_get_updates_and_restart.service

[Timer]
Unit=menu_get_updates_and_restart.service
# 02:00 UTC (05:00 MSK) +- 10 minutes
OnCalendar=*-*-* 02:00:00
AccuracySec=10minutes

[Install]
WantedBy=multi-user.target
