.tv_menu_item {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--white);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 35px;
  border: 2px solid var(--white);
  flex-grow: 1;
}

.tv_menu_item_header {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.tv_menu_item_content {
  display: flex;
  flex-direction: column;
}

.tv_menu_item,
.tv_menu_item_header,
.tv_menu_item_content {
  overflow-wrap: break-word;
  word-break: break-word;
}
