.dish_availability_list_item {
  display: flex;
  color: var(--white);
  border: 1px solid var(--white);
  width: 250px;
  height: 250px;
  aspect-ratio: 1/1;
  padding: 10px;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-align: center;
}

.available {
  border: 2px solid #0b0;
}

.unavailable {
  border: 2px solid #b00;
}
