.tv_menu_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  align-items: center;
  gap: 20px;
  height: 100%;
  justify-content: center;
}

.tv_menu,
.tv_menu_fullscreen {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
