.tv_menu_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  align-items: center;
  gap: 20px;
}

.tv_menu,
.tv_menu_fullscreen {
  justify-content: center;
  background-color: var(--indigo-2);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.tv_menu_fullscreen {
  margin-top: 100px;
}
