.tv_menu_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  align-items: center;
  gap: 20px;
  height: 100%;
  justify-content: center;
}

.tv_menu,
.tv_menu_fullscreen {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.tv_menu_fullscreen {
}
