.textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--gray);
  resize: vertical;
  min-height: 100px;
  font-size: 25px;
  width: 100%;
  color: var(--white);
  background-color: var(--indigo);
}

.textarea::placeholder {
  color: var(--gray-2);
}

.textarea_red_border {
  border: 1px solid #f00;
  outline: 1px solid #f00;
}
